:root {
  --main-color: #fe5a02;
  --dark-p-color: #5e5e5e;
  --light-p-color: #d5d5d5;
  --light-bcg-color: #d7e0ff;
  --dark-bcg-color: rgba(22, 22, 22, 0.9);
  --dark-bcg-color2: rgba(26, 26, 26, 0.9);
  --hover-bcg: #fc6d20;
  --section-padding: 9rem;
  --main-transition: 0.2s;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 1;
  color: #fff;
  background-color: var(--dark-bcg-color);
  position: relative;
}
.dark_mode {
  color: #fff;
  background-color: var(--dark-bcg-color2);
}
ul {
  list-style: none;
}
a {
  color: inherit;
  text-decoration: none;
}
img {
  max-width: 100%;
}
.container {
  margin: 0 auto;
  padding: 0 1.5rem;
  max-width: 160rem;
}

.flex {
  display: flex;
  align-items: center;
}
.hidden {
  display: none;
}
/* Sections style */
.line {
  display: block;
  width: 4rem;
  height: 0.3rem;
  background-color: var(--main-color);
}
.caption {
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: uppercase;
}
.btn {
  font-size: 1.6rem;
  font-weight: 600;
  border-radius: 0.5rem;
  text-align: center;
  transition: all var(--main-transition);
}
.social_icons {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.link {
  transition: all var(--main-transition);
}
.social_icons i {
  font-size: 3rem;
  transition: all var(--main-transition);
}
.section_heading {
  text-align: center;
  margin-bottom: 10rem;
}
.section_heading .caption {
  color: var(--main-color);
}
.section_heading .title {
  font-size: 4.8rem;
}
@media (max-width: 48em) {
  .section_heading .title {
    font-size: 3.6rem;
  }
}
.dark_mode .section_heading .title {
  color: #fff;
}
.vertline {
  margin: 1rem auto;
  transform: rotate(90deg) translateX(3rem);
}
